footer
	article
		h3 DAIN M. BLODORN KIM
		- while ( have_posts() ) : the_post();
			- if ( have_rows('footer_links','option') ) :
			ul.footer-links
				- while ( have_rows('footer_links','option') ) : the_row(); $link_url = get_sub_field('link_url'); $link_title 	= get_sub_field('link_title');
					li
						a(href!='<?php echo $link_url ?>' target='_blank')
							- echo($link_title)
				- endwhile;
			- endif;
		- endwhile;
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src!='<?php echo get_template_directory_uri(); ?>/app.js' defer)