- $introtitle = get_field('intro_title');
- $introcopy = get_field('intro_copy');
- $proj_image = get_field('project_photo');
- get_header();
include ./_includes/single-post-insert.jade
- get_footer();